@using QueTalMiAFPCdk.Models.Entities
@using QueTalMiAFPCdk.Models.ViewModels
@using System.Globalization
@model ApiKeysViewModel
@{
    ViewData["Title"] = "Mi API Key";
    CultureInfo cultureInfo = new CultureInfo("es-CL");
}

@section Head {
    <meta name="description" content="" />
    <link rel="stylesheet" href="~/css/ApiKeys.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/ApiKeys.js" asp-append-version="true"></script>
}

<p class="mb-0 new-titulo d-inline-block">¡NUEVO!</p>
<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    Por seguridad, el acceso a nuestra API pública ahora requiere del uso de una API key. 
    ¿Y cómo consigo una API key? ¡A continuación pues! crea, monitorea y revoca tu propia API key.
</p>

<hr id="miApiKey" />
<h5>API Key Vigente</h5>

@{
    ApiKey? apiVigente = Model.ApiKeys.Where(k => k.Vigente == 1).FirstOrDefault();
}
@if (apiVigente != null)
{
    DateTimeOffset fechaCreacionVigente = TimeZoneInfo.ConvertTime(apiVigente.FechaCreacion, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
    DateTimeOffset? fechaUltimoUsoVigente = null;
    if (apiVigente.FechaUltimoUso != null) {
        fechaUltimoUsoVigente = TimeZoneInfo.ConvertTime(apiVigente.FechaUltimoUso.Value, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
    }

    <p class="mt-3 text-muted">
        ¡Aquí la información de tu API key!
    </p>
    <div class="p-0 m-0">
        <table class="table table-borderless text center grillaKeyVigente">
            <tr>
                <th class="p-0 align-middle w-25">
                    <p class="mt-2 mb-0 text-center text-muted text-truncate">
                        Fecha de Creación
                    </p>
                </th>
                <th class="p-0 align-middle w-25">
                    <p class="mt-2 mb-0 text-center text-muted text-truncate">
                        Fecha Último Uso
                    </p>
                </th>
                <th class="p-0 align-middle w-25">
                    <p class="mt-2 mb-0 text-center text-muted text-truncate">
                        ¿Revocar?
                    </p>
                </th>
            </tr>
            <tr>
                <td class="p-0 align-middle">
                    <p class="m-0 text-center text-muted text-truncate">
                        @fechaCreacionVigente.ToString("d 'de' MMM. 'de' yyyy", cultureInfo)<br/>
                        @fechaCreacionVigente.ToString("HH:mm:ss", cultureInfo)
                    </p>
                </td>
                <td class="p-0 align-middle">
                    @if (fechaUltimoUsoVigente != null)
                    {
                        <p class="m-0 text-center text-muted text-truncate">
                            @fechaUltimoUsoVigente?.ToString("d 'de' MMM. 'de' yyyy", cultureInfo)<br/>
                            @fechaUltimoUsoVigente?.ToString("HH:mm:ss", cultureInfo)
                        </p>
                    } else
                    {
                        <p class="m-0 text-center text-muted text-truncate">
                            Sin uso
                        </p>
                    }
                </td>
                <td class="p-0 align-middle">
                    <p class="m-0 text-center text-muted text-truncate">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#revocarModal">Revocar</button>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    @if (Model.ApiKeyValue == null)
    {
        <div class="alert alert-warning" role="alert">
            <b>¿Es posible recuperar el valor secreto de mi API key?</b><br/>
            La respuesta es no. <u>Tendrás que revocar tu API key actual y generar una nueva</u>.
        </div>
    } else
    {
        <div class="alert alert-success" role="alert">
            <b>¡API key creada exitosamente!</b><br/><br/>
            API Key: <b>@Model.ApiKeyValue</b><br/><br/>
            Solo tendrás esta oportunidad para copiar el valor de tu API key, así que <u>copialo inmediatamente 
            y guardalo de forma segura</u>.
        </div>
    }

    <div class="modal fade" id="revocarModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quiere revocar la API key?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="m-0 text-center text-muted">
                        <b>¡Cuidado, esta acción es irreversible!</b><br/> 
                        Tu API key actual ya no podrá ser usada nuevamente, toda integración 
                        que tengas con la API key actual dejará de funcionar. <br/>
                        De todos modos, siempre podrás crear un API key nueva.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="post" class="text-center">
                        <input asp-for="IdRevocacion" type="hidden"/>
                        <input name="Accion" value="REVOCAR" type="hidden"/>
                        <button type="submit" class="btn btn-danger">Revocar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
} else
{
    <p class="mt-3 text-muted">
        ¡Ups! parece que aún no tienes una API key vigente.
    </p>

    <form method="post" class="text-center my-4" asp-fragment="miApiKey">
        <input name="Accion" value="CREAR" type="hidden"/>
        <button type="submit" class="btn btn-primary px-4 py-2">¡Generar una nueva API key!</button>
    </form>
}

<hr />
<h5>API Keys Antiguas</h5>

<p class="mt-3 text-muted">
    Y aquí te dejamos las antiguas API keys que has usado:
</p>

<div class="p-0 mt-0 mb-3 mx-0">
    <table class="table table-bordered text center grillaKeysAntiguas">
        <tr>
            <th class="p-0 align-middle">
                <p class="m-2 text-center text-muted text-truncate">
                    N°
                </p>
            </th>
            <th class="p-0 align-middle">
                <p class="m-2 text-center text-muted text-truncate">
                    Fecha de Creación
                </p>
            </th>
            <th class="p-0 align-middle">
                <p class="m-2 text-center text-muted text-truncate">
                    Fecha Último Uso
                </p>
            </th>
            <th class="p-0 align-middle">
                <p class="m-2 text-center text-muted text-truncate">
                    Fecha de Revocación
                </p>
            </th>
        </tr>
        @if (Model.ApiKeys.Where(k => k.Vigente != 1).Count() > 0)
        {
            int cont = Model.ApiKeys.Where(k => k.Vigente != 1).Count();
            @foreach (ApiKey key in Model.ApiKeys.Where(k => k.Vigente != 1).OrderByDescending(k => k.FechaCreacion).ToList())
            {
                DateTimeOffset fechaCreacion = TimeZoneInfo.ConvertTime(key.FechaCreacion, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
                DateTimeOffset? fechaUltimoUso = null;
                DateTimeOffset? fechaEliminacion = null;

                if (key.FechaUltimoUso != null) {
                    fechaUltimoUso = TimeZoneInfo.ConvertTime(key.FechaUltimoUso.Value, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
                }

                if (key.FechaEliminacion != null) {
                    fechaEliminacion = TimeZoneInfo.ConvertTime(key.FechaEliminacion.Value, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
                }

                <tr>
                    <td class="p-0 align-middle">
                        <p class="m-1 text-center text-muted text-truncate">
                            @cont.ToString(cultureInfo)
                            @{
                                cont--;
                            }
                        </p>
                    </td>
                    <td class="p-0 align-middle">
                        <p class="m-1 text-center text-muted text-truncate">
                            @fechaCreacion.ToString("d 'de' MMM. 'de' yyyy", cultureInfo)<br/>
                            @fechaCreacion.ToString("HH:mm:ss", cultureInfo)
                        </p>
                    </td>
                    <td class="p-0 align-middle">
                        <p class="m-1 text-center text-muted text-truncate">
                            @fechaUltimoUso?.ToString("d 'de' MMM. 'de' yyyy", cultureInfo)<br/>
                            @fechaUltimoUso?.ToString("HH:mm:ss", cultureInfo)
                        </p>
                    </td>
                    <td class="p-0 align-middle">
                        <p class="m-1 text-center text-muted text-truncate">
                            @fechaEliminacion?.ToString("d 'de' MMM. 'de' yyyy", cultureInfo)<br/>
                            @fechaEliminacion?.ToString("HH:mm:ss", cultureInfo)
                        </p>
                    </td>
                </tr>
            }
        } else
        {
            <tr>
                <td colspan="4" class="p-0 align-middle">
                    <p class="m-1 text-center text-muted text-truncate">
                        No posees keys anteriores.
                    </p>
                </td>
            </tr>
        }
    </table>
</div>