@using System.Security.Claims
@inject IWebHostEnvironment environment
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ¿Qué tal mi AFP?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/flavicon.svg" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/af8e5553ff1adba06d2923ba/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7254462863498582" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5H36HX4Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-ZE5H36HX4Q');
    </script>

    @RenderSection("Head", required: false)
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom box-shadow">
            <div class="container" style="z-index: 1000;">
                <a class="navbar-brand text-dark text-muted pl-3 mr-4" asp-controller="Resumen" asp-action="Index">
                    <img src="~/flavicon.svg" width="30" class="mr-2" />
                    ¿Qué tal mi AFP?
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ml-3">
                    <div class="dropdown-divider"></div>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item text-center d-flex align-items-center px-3">
                            <a class="nav-link text-dark text-center text-muted" asp-controller="Estadisticas" asp-action="ComparandoFondos">Rentabilidad por AFP</a>
                        </li>
                        <li class="nav-item text-center d-flex align-items-center px-3">
                            <a class="nav-link text-dark text-center text-muted" asp-controller="Estadisticas" asp-action="Index">Rentabilidad por Fondo</a>
                        </li>
                        <li class="nav-item text-center d-flex align-items-center px-3">
                            <a class="nav-link text-dark text-center text-muted" asp-controller="Simulador" asp-action="Index">Simula tus Ganancias</a>
                        </li>
                        <li class="nav-item text-center d-flex align-items-center px-3">
                            <a class="nav-link text-dark text-center text-muted" asp-controller="AccederCuotas" asp-action="Index">Consulta los Valores Cuota</a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated) 
                        {
                            <li class="nav-item text-center d-flex align-items-center px-3">
                                <a class="nav-link text-dark text-center text-muted" asp-controller="Notificaciones" asp-action="Index">
                                    Mis Notificaciones
                                    <p class="ml-1 mb-0 d-inline new-menu">¡NUEVO!</p>
                                </a>
                            </li>
                            <li class="nav-item text-center d-flex align-items-center pl-3">
                                <a class="nav-link text-dark text-center text-muted" asp-controller="Autenticacion" asp-action="Logout" asp-route-redirect="@ViewData["LogoutRedirect"]">Cerrar Sesión</a>
                            </li>
                        } else 
                        {
                            <li class="nav-item text-center d-flex align-items-center pl-3">
                                <a class="nav-link text-dark text-center text-muted" asp-controller="Autenticacion" asp-action="Login">
                                    ¡Iniciar Sesión!
                                    <p class="ml-1 mb-0 d-inline new-menu">¡NUEVO!</p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @{
        string? noticiaYaCerrada = Context?.Request?.Cookies["NoticiaYaCerrada20250913"];
    }
        
    @if (noticiaYaCerrada != "S") {
        <div class="container">
            <div id="noticias" class="alert alert-primary alert-dismissible fade show" role="alert">
                <b>¡Te tenemos novedades!</b><br />
                <ul class="m-0">
                    <li>
                        ¡Ya puedes recibir en tu correo nuestro resumen semanal! 👌<br />
                        <span class="m-0">Crea tu cuenta, inicia sesión, y suscríbete en la sección de "Mis Notificaciones".</span>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <script>
                $(document).ready(function() {
                    $('#noticias').on('closed.bs.alert', function () {
                        $.cookie("NoticiaYaCerrada20250913", "S", { expires: 365, path: '/' });
                    });
                });
            </script>
        </div>
    }

    @if (ViewBag.OcultarCompleto == null || !ViewBag.OcultarCompleto) {
        <div class="referencia-relativa-completo">
            <div class="contenedor-completo">
                <a class="boton-completo btn btn-outline-success pt-2 pb-1 pl-2 pr-5 mt-1" asp-controller="Donacion" asp-action="Index">
                    <img class="position-relative mr-1" style="top: -2px" src="~/images/completo.png" width="30" />
                    ¿Unos completitos?
                </a>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <nav class="navbar navbar-expand navbar-light bg-white my-3 p-0">
                <div class="w-100">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-auto px-1 text-center d-flex align-items-center" style="font-size: 0.8rem;">
                            <a class="text-muted d-flex align-items-center" asp-controller="Resumen" asp-action="Index">
                                <img src="~/flavicon.svg" width="25" class="mr-1" />
                                ¿Qué tal mi AFP?
                            </a>
                        </li>
                        <li class="nav-item mx-auto px-1 text-center d-flex align-items-center" style="font-size: 0.8rem;">
                            <a class="text-muted" asp-controller="Mensajes" asp-action="Index">Contáctate con Nosotros</a>
                        </li>
                        <li class="nav-item mx-auto px-1 text-center d-flex align-items-center" style="font-size: 0.8rem;">
                            <a class="text-muted" asp-controller="Autenticacion" asp-action="PoliticaPrivacidad">Política de Privacidad</a>
                        </li>
                        <li class="nav-item mx-auto px-1 text-center d-flex align-items-center" style="font-size: 0.8rem;">
                            <a class="text-muted" asp-controller="Extractor" asp-action="Index">Actualizar Valores Registrados</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c5c39de281.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
