@using QueTalMiAFPCdk.Models.Entities
@model MensajeUsuario
@{
    ViewData["Title"] = "¡Mensaje recibido!";
}

@section Head {
    <meta name="robots" content="noindex">
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    Hemos recibido tu mensaje, te agredecemos de gran manera tus comentarios, alguien de nuestro equipo lo revisará a la brevedad.
</p>


<table class="table m-0 mt-4">
    <thead>
        <tr class="text-center">
            <th colspan="2" scope="col" style="border-bottom-width: 1px">Mensaje Nº @Model.IdMensaje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-25"><b>Fecha ingreso</b></td>
            <td>@Model.FechaIngreso.ToString("dd-MM-yyyy HH:mm:ss")</td>
        </tr>
        <tr>
            <td><b>Nombre</b></td>
            <td>@Model.Nombre</td>
        </tr>
        <tr>
            <td><b>Correo</b></td>
            <td>@Model.Correo</td>
        </tr>
        <tr>
            <td><b>Me gustaría</b></td>
            <td>@Model.TipoMensaje!.DescripcionLarga</td>
        </tr>
        <tr>
            <td><b>Mensaje</b></td>
            <td>@Model.Mensaje</td>
        </tr>
    </tbody>
</table>