@using QueTalMiAFPCdk.Models.ViewModels
@using System.Globalization
@model AccederCuotasViewModel

@{
    ViewData["Title"] = "Consulta los Valores Cuota";
    ViewData["Description"] = "Aquí podrás consultar o descargar los valores cuotas que se encuentran registrados en nuestro sistema.";
    ViewData["LogoutRedirect"] = Url.Action("Index", "AccederCuotas");
}

@section Head {
    <link rel="stylesheet" href="~/css/AccederCuotas.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/js/AccederCuotas.js" asp-append-version="true"></script>
}

@{
    CultureInfo cultureInfo = new CultureInfo("es-CL");
}

<h1>@ViewData["Title"]</h1>
<p class="text-muted">
    Aquí podrás consultar o descargar los valores cuotas que se encuentran registrados en nuestro sistema.
</p>

<hr id="historialValoresCuota" />

<h5>¡Calendario histórico!</h5>

<p class="mt-3 text-muted">
    A continuación, te presentamos todos los valores cuota del mes que tu desees para la AFP y fondo que tu elijas.
</p>

<form method="get" asp-controller="AccederCuotas" asp-action="Index" asp-fragment="historialValoresCuota">
    <div class="input-group mx-auto">
        <select asp-for="Historial.Afp" asp-items="@Model.Historial?.ListaAfps" class="custom-select"></select>
        <select asp-for="Historial.Mes" asp-items="@Model.Historial?.ListaMeses" class="custom-select"></select>
        <div style="position: relative; flex: 1 1 auto; width: calc(1% + 2.3rem); margin-left: -1px;">
            <select asp-for="Historial.Anno" asp-items="@Model.Historial?.ListaAnnos" class="custom-select" style="border-radius: 0;"></select>
            @if (User.Identity == null || !User.Identity.IsAuthenticated)
            {
                <div class="overlay" style="left: 0; right: 0; top: -.3rem; bottom: -.3rem;" data-toggle="tooltip" data-placement="top" data-html="true" title="<span><span><u>Años Anteriores<br/>Calendario Histórico</u></span><br/>Inicia sesión para desbloquear esta función<br/><span>¡Es gratis! 😊</span></span>">
                    <a href="/login?redirect=@(Url.Action("Index", "AccederCuotas"))" class="btn btn-primary py-1 px-2" style="font-size: 0.7rem;">
                        ¡Iniciar Sesión!
                    </a>
                </div>
            }
        </div>
        <div class="input-group-append">
            <button type="submit" class="px-4 btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<div class="text-center mb-3 mt-2" id="filtroFondosHistorial">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-danger @(Model.Historial?.FiltroHistorialFondoSeleccionado == "A" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="A" @(Model.Historial?.FiltroHistorialFondoSeleccionado == "A" ? "checked='checked'" : "")>A
        </label>
        <label class="btn btn-outline-warning @(Model.Historial?.FiltroHistorialFondoSeleccionado == "B" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="B" @(Model.Historial?.FiltroHistorialFondoSeleccionado == "B" ? "checked='checked'" : "")>B
        </label>
        <label class="btn btn-outline-success @(Model.Historial?.FiltroHistorialFondoSeleccionado == "C" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="C" @(Model.Historial?.FiltroHistorialFondoSeleccionado == "C" ? "checked='checked'" : "")>C
        </label>
        <label class="btn btn-outline-info @(Model.Historial?.FiltroHistorialFondoSeleccionado == "D" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="D" @(Model.Historial?.FiltroHistorialFondoSeleccionado == "D" ? "checked='checked'" : "")>D
        </label>
        <label class="btn btn-outline-primary @(Model.Historial?.FiltroHistorialFondoSeleccionado == "E" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="E" @(Model.Historial?.FiltroHistorialFondoSeleccionado == "E" ? "checked='checked'" : "")>E
        </label>
    </div>
</div>

@{
    DateTime primerDia = new DateTime(Model.Historial!.Anno.GetValueOrDefault(), Model.Historial!.Mes.GetValueOrDefault(), 1);
    int diasPrevios = ((int)primerDia.DayOfWeek) - 1;
    int cantDiasMes = primerDia.AddMonths(1).AddDays(-1).Day;
}
@foreach(string fondo in "A,B,C,D,E".Split(",")) {
    int diaAux = 1;

    <div class="p-0 m-0 mb-3" style="display:@(fondo == Model.Historial?.FiltroHistorialFondoSeleccionado ? "block" : "none");" id="historial@(fondo)"Historial>
        <table class="table table-bordered text-center mb-1 grillaHistorial">
            <tr>
                <td class="px-0 pt-0" colspan="7" style="border: none;">
                    <span class="text-muted tituloHistorial">AFP @(Model.Historial?.NombreAfp) - @(primerDia.ToString("MMMM", cultureInfo)[0].ToString().ToUpper() + primerDia.ToString("MMMM", cultureInfo).Substring(1) + primerDia.ToString(" yyyy"))</span>
                </td>
            </tr>    
            <tr>
                <td><p class="text-center m-0 text-muted text-truncate">Lunes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Martes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Miércoles</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Jueves</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Viernes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Sábado</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Domingo</p></td>
            </tr>
            @for (int semana = 1; semana <= Math.Ceiling((cantDiasMes + diasPrevios) / 7f); semana++)
            {
                <tr>
                    @for (int dia = 1; dia <= 7; dia++)
                    {
                        <td>
                            @if ((semana != 1 && diaAux <= cantDiasMes) || (semana == 1 && dia > diasPrevios))
                            {
                                decimal? valor = (Model.Historial?.ValoresCuota[fondo])?[diaAux - 1];
                                <p class="m-0 text-muted">@diaAux</p>
                                <p class="text-center m-0 text-muted">@(valor != null ? valor.GetValueOrDefault().ToString("N2", cultureInfo) : "")</p>
                                diaAux++;
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}


<hr />

<h5>¡Descarga un archivo!</h5>

<p class="text-muted mt-3">Y si amas los Excel, descarga la información en un archivo CSV:</p>

<div style="position: relative;" class="mb-1">
    <table class="table table-bordered sinBordeInterno" style="margin-top: 20px; margin-bottom: 1rem; table-layout:fixed; width:100%; text-align:center;">
        <tr>
            <th style="text-align:center; width:50%;">AFP</th>
            <th style="text-align:center; width:50%;">FONDO</th>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="CAPITAL" id="afpCapital" checked>
                    <label class="form-check-label em6" for="afpCapital">
                        AFP Capital
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="A" id="fondoA" checked>
                    <label class="form-check-label em5" for="fondoA">
                        Fondo A
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="CUPRUM" id="afpCuprum" checked>
                    <label class="form-check-label em6" for="afpCuprum">
                        AFP Cuprum
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="B" id="fondoB" checked>
                    <label class="form-check-label em5" for="fondoB">
                        Fondo B
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="HABITAT" id="afpHabitat" checked>
                    <label class="form-check-label em6" for="afpHabitat">
                        AFP Habitat
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="C" id="fondoC" checked>
                    <label class="form-check-label em5" for="fondoC">
                        Fondo C
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="MODELO" id="afpModelo" checked>
                    <label class="form-check-label em6" for="afpModelo">
                        AFP Modelo
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="D" id="fondoD" checked>
                    <label class="form-check-label em5" for="fondoD">
                        Fondo D
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="PLANVITAL" id="afpPlanvital" checked>
                    <label class="form-check-label em6" for="afpPlanvital">
                        AFP PlanVital
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="E" id="fondoE" checked>
                    <label class="form-check-label em5" for="fondoE">
                        Fondo E
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="PROVIDA" id="afpProvida" checked>
                    <label class="form-check-label em6" for="afpProvida">
                        AFP ProVida
                    </label>
                </div>
            </td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="UNO" id="afpUno" checked>
                    <label class="form-check-label em6" for="afpUno">
                        AFP Uno
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;">RANGO DE FECHAS</th>
        </tr>
        <tr>
            <td colspan="2" class="pl-3 pr-3 pt-2 pb-2">
                <div style="width:100%;">
                    <div class="input-group input-daterange">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>

                        <input value="@TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time")).AddMonths(-12).ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control" id="fechaInicio" />
                        <div class="input-group-append input-group-prepend">
                            <span class="input-group-text">
                                <label style="margin-bottom:0px;">al</label>
                            </span>
                        </div>

                        <input value="@TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time")).ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control" id="fechaFinal" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="alertaDescargarCSV" style="display: none; height: 54px;" class="alert alert-danger alert-dismissible">
        <p class="mb-0 mt-1"></p>
        <button type="button" class="close" aria-label="Cerrar" onclick="$(this).parent('div').fadeOut('fast');">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <button id="btnDescargarCSV" type="button" style="width:33%;" class="btn btn-primary pb-2 pt-2">Descargar</button>
    @if (User.Identity == null || !User.Identity.IsAuthenticated)
    {
        <div class="overlay" data-toggle="tooltip" data-placement="top" data-html="true" title="<span><span><u>Descarga un Archivo</u></span><br/>Inicia sesión para desbloquear esta función<br/><span>¡Es gratis! 😊</span></span>">
            <a href="/login?redirect=@(Url.Action("Index", "AccederCuotas"))" class="btn btn-primary py-2 px-5">
                ¡Iniciar Sesión!
            </a>
        </div>
    }
</div>

<hr />

<h5>Y para los computines... ¡Una API!</h5>

<div style="position: relative;">
    <p class="text-muted mt-3">
        Si lo que requieres no es un archivo sino acceso a una API de consulta, puedes utilizar la siguiente
        configuración:
    </p>
    <table class="table table-bordered mt-3 mb-3">
        <tr>
            <th style="text-align: center; min-width: 9em;">URL API</th>
            <td id="urlAPI" class="text-break text-muted">https://www.quetalmiafp.cl/api/Cuota/ObtenerCuotas</td>
        </tr>
        <tr>
            <th style="text-align: center;">Método HTTP</th>
            <td class="text-muted">GET</td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center;">Cabecera</th>
        </tr>
        <tr>
            <th style="text-align: center;">X-API-Key</th>
            <td class="text-muted">
                API Key para autenticarse frente al servicio de obtención de cuotas.<br/>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center;">Parámetros</th>
        </tr>
        <tr>
            <th style="text-align: center;">listaAFPs</th>
            <td class="text-muted">
                Lista de los nombres de las AFPs que se desean consultar separados por coma ",". Ejemplo: CAPITAL,CUPRUM,HABITAT
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">listaFondos</th>
            <td class="text-muted">
                Lista de los fondos que se desean consultar separados por coma ",". Ejemplo: A,B,C
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">fechaInicial</th>
            <td class="text-muted">
                Fecha con formato dd/mm/aaaa para indicar el rango inicial de la consulta. Ejemplo: 01/01/2020
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">fechaFinal</th>
            <td class="text-muted">
                Fecha con formato dd/mm/aaaa para indicar el rango final de la consulta. Ejemplo: 31/12/2020
            </td>
        </tr>
    </table>
    <div class="overlay">
        <div class="alert alert-primary my-3 w-75 text-center" role="alert">
            <p class="text-center"><b>¡¿Qué?! ¿Ya no cuentan con una API pública 😭?</b></p>
            <p class="text-center">
            ¡No te preocupes! Solo hicimos algunos ajustes. Primero, añadimos el requerimiento de una API key; y segundo, 
            cambiamos el lugar donde se encuentra la documentación de nuestra API pública.</p>
             <a href="@(Url.Action("Index", "ApiKeys"))" class="btn btn-primary py-2 px-3">
                ¡Llevame a la documentación actualizada!
            </a>
        </div>
    </div>
</div>
