@using System.Globalization
@{
    ViewData["Title"] = "Rentabilidad por AFP";
    ViewData["Description"] = "Aquí podrás conocer la evolución histórica de la rentabilidad y los valores cuota de los fondos de pensiones para cada una de las AFP.";
    ViewData["LogoutRedirect"] = Url.Action("ComparandoFondos", "Estadisticas");
}

@section Head {
    <link rel="stylesheet" href="~/css/Estadisticas.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
}

@section Scripts {
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/es_ES.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/js/EstadisticasCompFondos.js" asp-append-version="true"></script>
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    Aquí podrás conocer la evolución histórica de la rentabilidad y los valores cuota
    de los fondos de pensiones para cada una de las AFP. Favor, ingresa a continuación 
    el rango de fechas que deseas graficar:
</p>
<div class="w-100 mt-3" style="position: relative;">
    <div class="input-group input-daterange">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.AddYears(-1).ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control inputFiltrarRent" name="fechaInicial" id="fechaInicial" />
        <div class="input-group-append input-group-prepend">
            <span class="input-group-text">
                <label style="margin-bottom:0px;">al</label>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control inputFiltrarRent" name="fechaFinal" id="fechaFinal" />
        <div class="input-group-append">
            <span class="input-group-text" style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>
        <button id="btnFiltrarFechas" type="button" style="width:20%;" class="btn btn-primary pb-1 pt-1 ml-3" onclick="btnFiltrarRentabilidad()">
            <span style="display:none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <div style="display:inline-block;">Filtrar</div>
        </button>
    </div>
    @if (User.Identity == null || !User.Identity.IsAuthenticated)
    {
        <div class="overlay" data-toggle="tooltip" data-placement="top" data-html="true" title="<span><span><u>Rango de Fechas</u></span><br/>Inicia sesión para desbloquear esta función<br/><span>¡Es gratis! 😊</span></span>">
            <a href="/login?redirect=@(Url.Action("ComparandoFondos", "Estadisticas"))" style="font-size: 0.8rem;" class="btn btn-primary py-1 px-4">
                ¡Iniciar Sesión!
            </a>
        </div>
    }
</div>

<hr />
<h5>Rentabilidad Real</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan las rentabilidades reales <b>ajustadas según variación
    de la UF</b>, de los diferentes fondos de pensiones, usando una fecha inicial
    como referencia:
</p>

<ul class="nav nav-tabs" id="TabRRAfp" role="tablist">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabRR@(afp)" data-toggle="tab" data-target="#ContRR@(afp)" type="button" role="tab" aria-controls="RR@(afp)" aria-selected="false">@(afp)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-3" id="TabContentRRAfp">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <div class="tab-pane fade" id="ContRR@(afp)" role="tabpanel" aria-labelledby="TabRR@(afp)">
            <div class="chartFondo" id="chartRentReal@(afp)"></div>
        </div>
    }
</div>

<hr />

<h5>Rentabilidad</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan las rentabilidades de los valores cuotas, sin aplicar
    ajustes por inflación, de los diferentes fondos de pensiones, usando una fecha
    inicial como referencia:
</p>

<ul class="nav nav-tabs" id="TabRTAfp" role="tablist">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabRT@(afp)" data-toggle="tab" data-target="#ContRT@(afp)" type="button" role="tab" aria-controls="RT@(afp)" aria-selected="false">@(afp)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-3" id="TabContentRTAfp">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <div class="tab-pane fade" id="ContRT@(afp)" role="tabpanel" aria-labelledby="TabRT@(afp)">
            <div class="chartFondo" id="chartRentabilidad@(afp)"></div>
        </div>
    }
</div>

<hr />

<h5>Valor Cuota</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan gráficos de la evolución histórica del valor cuota, de
    los diferentes fondos de pensiones:
</p>

<ul class="nav nav-tabs" id="TabVCAfp" role="tablist">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabVC@(afp)" data-toggle="tab" data-target="#ContVC@(afp)" type="button" role="tab" aria-controls="VC@(afp)" aria-selected="false">@(afp)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-1" id="TabContentVCAfp">
    @foreach (string afp in "Capital,Cuprum,Habitat,Modelo,PlanVital,ProVida,Uno".Split(","))
    {
        <div class="tab-pane fade" id="ContVC@(afp)" role="tabpanel" aria-labelledby="TabVC@(afp)">
            <div class="chartFondo" id="chartValor@(afp)"></div>
        </div>
    }
</div>