@{
    ViewData["Title"] = "Rentabilidad por Fondo";
}

@section Head {
    <meta name="description" content="Aquí podrás conocer la evolución histórica de la rentabilidad 
          y los valores cuota de las AFP para cada uno de los fondos de pensiones." />
}

@section Scripts {
    <script src="~/js/Estadisticas.js" asp-append-version="true"></script>
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3">
    Aquí podrás conocer la evolución histórica de la rentabilidad y los valores cuota
    de las AFP para cada uno de los fondos de pensiones. Favor, ingresa a continuación 
    el rango de fechas que deseas graficar:
</p>
<div class="w-100 mt-3">
    <div class="input-group input-daterange">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.AddYears(-1).ToString("dd/MM/yyyy")" type="text" class="form-control inputFiltrarRent" name="fechaInicial" id="fechaInicial" />
        <div class="input-group-append input-group-prepend">
            <span class="input-group-text">
                <label style="margin-bottom:0px;">al</label>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.ToString("dd/MM/yyyy")" type="text" class="form-control inputFiltrarRent" name="fechaFinal" id="fechaFinal" />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>
        <button id="btnFiltrarFechas" type="button" style="width:20%;" class="btn btn-primary pb-1 pt-1 ml-3" onclick="btnFiltrarRentabilidad()">
            <span style="display:none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <div style="display:inline-block;">Filtrar</div>
        </button>
    </div>
</div>

<hr />

<h6 class="mt-3">
    A continuación, se presentan las rentabilidades reales ajustadas según variación
    de la UF, de los diferentes fondos de pensiones, usando una fecha inicial
    como referencia:
</h6>
@foreach (string fondo in new List<string>() { "A", "B", "C", "D", "E" }) {
    <div class="card mb-3 @(fondo == "A" ? "mt-3" : "")">
        <div class="card-header" id="headingRRFondo@(fondo)">
            <button class="btn btn-block text-center btnNoShadow" type="button" data-toggle="collapse" data-target="#collapseRRFondo@(fondo)" aria-expanded="false" aria-controls="collapseRRFondo@(fondo)">
                RENTABILIDAD REAL - FONDO @(fondo)
                <i class="fas fa-chevron-down float-right fa-lg" style="margin-top:0.3em;"></i>
                <i class="fas fa-chevron-up float-right fa-lg" style="margin-top:0.2em; display:none;"></i>
            </button>
        </div>
        <div id="collapseRRFondo@(fondo)" class="collapse">
            <div class="card-body pt-0">
                <div class="chartFondo" id="chartRentReal@(fondo)"></div>
            </div>
        </div>
    </div>
}

<hr />

<h6 class="mt-3">
    A continuación, se presentan las rentabilidades de los valores cuotas, sin aplicar
    ajustes por inflación, de los diferentes fondos de pensiones, usando una fecha
    inicial como referencia:
</h6>
@foreach (string fondo in new List<string>() { "A", "B", "C", "D", "E" }) {
    <div class="card mb-3 @(fondo == "A" ? "mt-3" : "")">
        <div class="card-header" id="headingRTFondo@(fondo)">
            <button class="btn btn-block text-center btnNoShadow" type="button" data-toggle="collapse" data-target="#collapseRTFondo@(fondo)" aria-expanded="false" aria-controls="collapseRTFondo@(fondo)">
                RENTABILIDAD - FONDO @(fondo)
                <i class="fas fa-chevron-down float-right fa-lg" style="margin-top:0.3em;"></i>
                <i class="fas fa-chevron-up float-right fa-lg" style="margin-top:0.2em; display:none;"></i>
            </button>
        </div>
        <div id="collapseRTFondo@(fondo)" class="collapse">
            <div class="card-body pt-0">
                <div class="chartFondo" id="chartRentabilidad@(fondo)"></div>
            </div>
        </div>
    </div>
}

<hr />

<h6 class="mt-3">
    A continuación, se presentan gráficos de la evolución histórica del valor cuota, de
    los diferentes fondos de pensiones:
</h6>
@foreach (string fondo in new List<string>() { "A", "B", "C", "D", "E" }) {
    <div class="card mb-3 @(fondo == "A" ? "mt-3" : "")">
        <div class="card-header" id="headingVCFondo@(fondo)">
            <button class="btn btn-block text-center btnNoShadow" type="button" data-toggle="collapse" data-target="#collapseVCFondo@(fondo)" aria-expanded="false" aria-controls="collapseVCFondo@(fondo)">
                VALOR CUOTA - FONDO @(fondo)
                <i class="fas fa-chevron-down float-right fa-lg" style="margin-top:0.3em;"></i>
                <i class="fas fa-chevron-up float-right fa-lg" style="margin-top:0.2em; display:none;"></i>
            </button>
        </div>
        <div id="collapseVCFondo@(fondo)" class="collapse">
            <div class="card-body pt-0">
                <div class="chartFondo" id="chartFondo@(fondo)"></div>
            </div>
        </div>
    </div>
}