@using System.Globalization
@{
    ViewData["Title"] = "Rentabilidad por Fondo";
}

@section Head {
    <meta name="description" content="Aquí podrás conocer la evolución histórica de la rentabilidad 
          y los valores cuota de las AFP para cada uno de los fondos de pensiones." />
    <link rel="stylesheet" href="~/css/Estadisticas.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Estadisticas.js" asp-append-version="true"></script>
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    Aquí podrás conocer la evolución histórica de la rentabilidad y los valores cuota
    de las AFP para cada uno de los fondos de pensiones. Favor, ingresa a continuación 
    el rango de fechas que deseas graficar:
</p>
<div class="w-100 mt-3">
    <div class="input-group input-daterange">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.AddYears(-1).ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control inputFiltrarRent" name="fechaInicial" id="fechaInicial" />
        <div class="input-group-append input-group-prepend">
            <span class="input-group-text">
                <label style="margin-bottom:0px;">al</label>
            </span>
        </div>

        <input value="@ViewBag.UltimaFechaAlgunValorCuota.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" type="text" class="form-control inputFiltrarRent" name="fechaFinal" id="fechaFinal" />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>
        <button id="btnFiltrarFechas" type="button" style="width:20%;" class="btn btn-primary pb-1 pt-1 ml-3" onclick="btnFiltrarRentabilidad()">
            <span style="display:none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <div style="display:inline-block;">Filtrar</div>
        </button>
    </div>
</div>

<hr />
<h5>Rentabilidad Real</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan las rentabilidades reales <b>ajustadas según variación
    de la UF</b>, de los diferentes fondos de pensiones, usando una fecha inicial
    como referencia:
</p>

<ul class="nav nav-tabs" id="TabRRFondos" role="tablist">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabRRFondo@(fondo)" data-toggle="tab" data-target="#ContRRFondo@(fondo)" type="button" role="tab" aria-controls="RRFondo@(fondo)" aria-selected="false">Fondo @(fondo)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-3" id="TabContentRRFondos">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <div class="tab-pane fade" id="ContRRFondo@(fondo)" role="tabpanel" aria-labelledby="TabRRFondo@(fondo)">
            <div class="chartFondo" id="chartRentReal@(fondo)"></div>
        </div>
    }
</div>

<hr />

<h5>Rentabilidad</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan las rentabilidades de los valores cuotas, sin aplicar
    ajustes por inflación, de los diferentes fondos de pensiones, usando una fecha
    inicial como referencia:
</p>

<ul class="nav nav-tabs" id="TabRTFondos" role="tablist">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabRTFondo@(fondo)" data-toggle="tab" data-target="#ContRTFondo@(fondo)" type="button" role="tab" aria-controls="RTFondo@(fondo)" aria-selected="false">Fondo @(fondo)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-3" id="TabContentRTFondos">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <div class="tab-pane fade" id="ContRTFondo@(fondo)" role="tabpanel" aria-labelledby="TabRTFondo@(fondo)">
            <div class="chartFondo" id="chartRentabilidad@(fondo)"></div>
        </div>
    }
</div>

<hr />

<h5>Valor Cuota</h5>

<p class="mt-3 text-muted">
    A continuación, se presentan gráficos de la evolución histórica del valor cuota, de
    los diferentes fondos de pensiones:
</p>

<ul class="nav nav-tabs" id="TabFondos" role="tablist">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="TabFondo@(fondo)" data-toggle="tab" data-target="#ContFondo@(fondo)" type="button" role="tab" aria-controls="Fondo@(fondo)" aria-selected="false">Fondo @(fondo)</button>
        </li>
    }
</ul>
<div class="tab-content p-1 mb-1" id="TabContentFondos">
    @foreach(string fondo in "A,B,C,D,E".Split(","))
    {
        <div class="tab-pane fade" id="ContFondo@(fondo)" role="tabpanel" aria-labelledby="TabFondo@(fondo)">
            <div class="chartFondo" id="chartFondo@(fondo)"></div>
        </div>
    }
</div>
