@using QueTalMiAFPCdk.Models.Entities
@using QueTalMiAFPCdk.Models.Others
@using QueTalMiAFPCdk.Models.ViewModels
@using System.Globalization
@model ResumenViewModel
@{
    ViewData["Title"] = "Bienvenido a ¿Qué tal mi AFP?";
}

@section Head {
    <meta name="description" content="¿Quieres saber los valores cuota de AFP Modelo? ¿Seguir la evolución de los fondos en AFP ProVida? ¿O encontrar la AFP con la mejor rentabilidad del momento?
    En un solo lugar tendrás todo: valores cuota actualizados al día, gráficas interactivas para comparar rentabilidades 
    y un simulador que te dirá cuánto podrías haber ganado (o perdido) en el fondo y la AFP que tú elijas." />
    <link rel="stylesheet" href="~/css/Resumen.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Resumen.js" asp-append-version="true"></script>
}

@{
    CultureInfo cultureInfo = new CultureInfo("es-CL");
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    ¿Quieres saber los valores cuota de AFP Modelo? ¿Seguir la evolución de los fondos en AFP ProVida? ¿O encontrar la AFP con la mejor rentabilidad del momento?
    En un solo lugar tendrás todo: valores cuota actualizados al día, gráficas interactivas para comparar rentabilidades 
    y un simulador que te dirá cuánto podrías haber ganado (o perdido) en el fondo y la AFP que tú elijas.
</p>

<hr />

<h5>Valores Cuota de la Semana</h5>

<p class="mt-3 text-muted">
    A continuación, te presentamos los valores cuota de la última semana para cada AFP, puedes seleccionar el fondo deseado en el filtro superior.
</p>

<div class="text-center my-3" id="filtroFondos">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-danger @(ViewBag.FiltroResumenFondoSeleccionado == "A" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="A" @(ViewBag.FiltroResumenFondoSeleccionado == "A" ? "checked='checked'" : "")>A
        </label>
        <label class="btn btn-outline-warning @(ViewBag.FiltroResumenFondoSeleccionado == "B" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="B" @(ViewBag.FiltroResumenFondoSeleccionado == "B" ? "checked='checked'" : "")>B
        </label>
        <label class="btn btn-outline-success @(ViewBag.FiltroResumenFondoSeleccionado == "C" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="C" @(ViewBag.FiltroResumenFondoSeleccionado == "C" ? "checked='checked'" : "")>C
        </label>
        <label class="btn btn-outline-info @(ViewBag.FiltroResumenFondoSeleccionado == "D" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="D" @(ViewBag.FiltroResumenFondoSeleccionado == "D" ? "checked='checked'" : "")>D
        </label>
        <label class="btn btn-outline-primary @(ViewBag.FiltroResumenFondoSeleccionado == "E" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="E" @(ViewBag.FiltroResumenFondoSeleccionado == "E" ? "checked='checked'" : "")>E
        </label>
    </div>
</div>

<div>
    <div>
        <table class="table table-bordered text-center grillaLogos">
            <tr>
                <td></td>
            </tr>

            @foreach(ResumenAfp resumenAfp in Model.Resumenes)
            {
                <tr>
                    <th class="align-middle p-0 text-center">
                        <img class="rounded mx-auto d-block" style="width: @(resumenAfp.Ancho)vw; height: min(@(resumenAfp.Alto)vw, 55px);" src="@resumenAfp.UrlLogo" alt="AFP @resumenAfp.Nombre"/>
                    </th>
                </tr>
            }
        </table>
    </div>

    @foreach(string fondo in "A,B,C,D,E".Split(",")) {
        <div style="display:@(fondo == ViewBag.FiltroResumenFondoSeleccionado ? "" : "none");" id="resumen@(fondo)">
            <table class="table table-bordered text-center m-0 mb-1 valoresCuota">
                <tr>
                    @foreach(DateTime fecha in Model.Fechas)
                    {
                        <td class="p-0 align-middle">
                            <p class="m-0 text-center text-muted text-truncate">@fecha.ToString("dddd", cultureInfo).ToUpper()</p>
                            <p class="m-0 text-center text-muted">@fecha.ToString("d MMM", cultureInfo)</p>
                        </td>
                    }
                </tr>

                @foreach(ResumenAfp resumenAfp in Model.Resumenes)
                {
                    <tr>
                        @foreach(decimal? cuota in resumenAfp.ValoresCuota[fondo])
                        {
                            <td class="m-0 text-center text-muted align-middle">@(cuota != null ? cuota.GetValueOrDefault().ToString("N2", cultureInfo) : "")</td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</div>

<hr />

<h5>Historial de los Valores Cuota</h5>

<p class="mt-3 text-muted">
    A continuación, te presentamos todos los valores cuota del mes que tu desees para la AFP y fondo que tu elijas.
</p>
@{
    DateTime fechaActual = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
}
<form method="get">
    <div class="input-group mx-auto">
        <select asp-for="Historial.Afp" asp-items="@Model.Historial?.ListaAfps" class="custom-select"></select>
        <select asp-for="Historial.Mes" asp-items="@Model.Historial?.ListaMeses" class="custom-select"></select>
        <select asp-for="Historial.Anno" asp-items="@Model.Historial?.ListaAnnos" class="custom-select"></select>
        <div class="input-group-append">
            <button type="submit" class="px-4 btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<div class="text-center mb-3 mt-2" id="filtroFondosHistorial">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-danger @(ViewBag.FiltroHistorialFondoSeleccionado == "A" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="A" @(ViewBag.FiltroHistorialFondoSeleccionado == "A" ? "checked='checked'" : "")>A
        </label>
        <label class="btn btn-outline-warning @(ViewBag.FiltroHistorialFondoSeleccionado == "B" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="B" @(ViewBag.FiltroHistorialFondoSeleccionado == "B" ? "checked='checked'" : "")>B
        </label>
        <label class="btn btn-outline-success @(ViewBag.FiltroHistorialFondoSeleccionado == "C" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="C" @(ViewBag.FiltroHistorialFondoSeleccionado == "C" ? "checked='checked'" : "")>C
        </label>
        <label class="btn btn-outline-info @(ViewBag.FiltroHistorialFondoSeleccionado == "D" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="D" @(ViewBag.FiltroHistorialFondoSeleccionado == "D" ? "checked='checked'" : "")>D
        </label>
        <label class="btn btn-outline-primary @(ViewBag.FiltroHistorialFondoSeleccionado == "E" ? "active" : "")">
            <input type="radio" name="resumenFondoHistorial" value="E" @(ViewBag.FiltroHistorialFondoSeleccionado == "E" ? "checked='checked'" : "")>E
        </label>
    </div>
</div>

@foreach(string fondo in "A,B,C,D,E".Split(",")) {
    DateTime primerDia = new DateTime(Model.Historial!.Anno.GetValueOrDefault(), Model.Historial!.Mes.GetValueOrDefault(), 1);
    int diasPrevios = ((int)primerDia.DayOfWeek) - 1;
    int cantDiasMes = primerDia.AddMonths(1).AddDays(-1).Day;
    int diaAux = 1;

    <div class="p-0 m-0 mb-3" style="display:@(fondo == ViewBag.FiltroHistorialFondoSeleccionado ? "block" : "none");" id="historial@(fondo)"Historial>
        <table class="table table-bordered text-center mb-1 grillaHistorial">
            <tr>
                <td class="px-0 pt-0" colspan="7" style="border: none;">
                    @{
                        ResumenAfp datosAfpHistorial = Model.Resumenes.FirstOrDefault(r => r.Nombre.Equals(Model.Historial.Afp, StringComparison.InvariantCultureIgnoreCase));
                    }
                    <!--<img class="rounded d-block ml-4 my-auto" style="width: @(datosAfpHistorial.Ancho)vw; height: min(@(datosAfpHistorial.Alto)vw, 70px);" src="@(datosAfpHistorial.UrlLogo)" alt="AFP @(datosAfpHistorial.Nombre)"/>-->
                    <span class="text-muted tituloHistorial">AFP @(datosAfpHistorial.Nombre) - @(primerDia.ToString("MMMM", cultureInfo)[0].ToString().ToUpper() + primerDia.ToString("MMMM", cultureInfo).Substring(1) + primerDia.ToString(" yyyy"))</span>
                </td>
            </tr>    
            <tr>
                <td><p class="text-center m-0 text-muted text-truncate">Lunes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Martes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Miércoles</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Jueves</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Viernes</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Sábado</p></td>
                <td><p class="text-center m-0 text-muted text-truncate">Domingo</p></td>
            </tr>
            @for (int semana = 1; semana <= Math.Ceiling((cantDiasMes + diasPrevios) / 7f); semana++)
            {
                <tr>
                    @for (int dia = 1; dia <= 7; dia++)
                    {
                        <td>
                            @if ((semana != 1 && diaAux <= cantDiasMes) || (semana == 1 && dia > diasPrevios))
                            {
                                decimal? valor = (Model.Historial?.ValoresCuota[fondo])?[diaAux - 1];
                                <p class="m-0 text-muted">@diaAux</p>
                                <p class="text-center m-0 text-muted">@(valor != null ? valor.GetValueOrDefault().ToString("N2", cultureInfo) : "")</p>
                                diaAux++;
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}