@using QueTalMiAFPCdk.Models.Entities
@using QueTalMiAFPCdk.Models.Others
@using QueTalMiAFPCdk.Models.ViewModels
@using System.Globalization
@using System.Security.Claims
@model ResumenViewModel
@{
    string? mensajeBienvenida = "¡Bienvenid@!";
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        mensajeBienvenida = $"¡Bienvenid@ { User.FindFirstValue(ClaimTypes.GivenName) }! 😊";
    }
    ViewData["Title"] = mensajeBienvenida;
}

@section Head {
    <meta name="description" content="¿Quieres saber los valores cuota de AFP Modelo? ¿Seguir la evolución de los fondos en AFP ProVida? ¿O encontrar la AFP con la mejor rentabilidad del momento?
    En un solo lugar tendrás todo: valores cuota actualizados al día, gráficas interactivas para comparar rentabilidades 
    y un simulador que te dirá cuánto podrías haber ganado (o perdido) en el fondo y la AFP que tú elijas." />
    <link rel="stylesheet" href="~/css/Resumen.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Resumen.js" asp-append-version="true"></script>
}

@{
    CultureInfo cultureInfo = new CultureInfo("es-CL");
}

@{
    DateTime fechaActual = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneConverter.TZConvert.GetTimeZoneInfo("Pacific SA Standard Time"));
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    ¿Quieres saber los valores cuota de AFP Modelo? ¿Seguir la evolución de los fondos en AFP ProVida? ¿O encontrar la AFP con la mejor rentabilidad del momento?
    En un solo lugar tendrás todo: valores cuota actualizados al día, gráficas interactivas para comparar rentabilidades 
    y un simulador que te dirá cuánto podrías haber ganado (o perdido) en el fondo y la AFP que tú elijas.
</p>

<hr />

<h5>¡Llegaron nuevos valores cuota!</h5>

<p class="mt-3 text-muted">
    A continuación, te presentamos los valores cuota de la última semana para cada AFP, puedes seleccionar el fondo deseado en el filtro superior.
</p>

<div class="text-center my-3" id="filtroFondos">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-danger @(Model.Resumen.FiltroResumenFondoSeleccionado == "A" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="A" @(Model.Resumen.FiltroResumenFondoSeleccionado == "A" ? "checked='checked'" : "")>A
        </label>
        <label class="btn btn-outline-warning @(Model.Resumen.FiltroResumenFondoSeleccionado == "B" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="B" @(Model.Resumen.FiltroResumenFondoSeleccionado == "B" ? "checked='checked'" : "")>B
        </label>
        <label class="btn btn-outline-success @(Model.Resumen.FiltroResumenFondoSeleccionado == "C" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="C" @(Model.Resumen.FiltroResumenFondoSeleccionado == "C" ? "checked='checked'" : "")>C
        </label>
        <label class="btn btn-outline-info @(Model.Resumen.FiltroResumenFondoSeleccionado == "D" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="D" @(Model.Resumen.FiltroResumenFondoSeleccionado == "D" ? "checked='checked'" : "")>D
        </label>
        <label class="btn btn-outline-primary @(Model.Resumen.FiltroResumenFondoSeleccionado == "E" ? "active" : "")">
            <input type="radio" name="resumenFondo" value="E" @(Model.Resumen.FiltroResumenFondoSeleccionado == "E" ? "checked='checked'" : "")>E
        </label>
    </div>
</div>

<div>
    <div>
        <table class="table table-bordered text-center grillaLogos">
            <tr>
                <td></td>
            </tr>

            @foreach(UltimaSemanaAfp resumenAfp in Model.Resumen.UltimaSemana)
            {
                <tr>
                    <th class="align-middle p-0 text-center">
                        <img class="rounded mx-auto d-block" style="width: @(resumenAfp.Ancho)vw; height: min(@(resumenAfp.Alto)vw, 55px);" src="@resumenAfp.UrlLogo" alt="AFP @resumenAfp.Nombre"/>
                    </th>
                </tr>
            }
        </table>
    </div>

    @foreach(string fondo in "A,B,C,D,E".Split(",")) {
        <div style="display:@(fondo == Model.Resumen.FiltroResumenFondoSeleccionado ? "" : "none");" id="resumen@(fondo)">
            <table class="table table-bordered text-center m-0 mb-1 valoresCuota">
                <tr>
                    @foreach(DateTime fecha in Model.Resumen.FechasUltimaSemana!)
                    {
                        <td class="p-0 align-middle">
                            <p class="m-0 text-center text-muted text-truncate">@fecha.ToString("dddd", cultureInfo).ToUpper()</p>
                            <p class="m-0 text-center text-muted">@fecha.ToString("d MMM", cultureInfo)</p>
                        </td>
                    }
                </tr>

                @foreach(UltimaSemanaAfp resumenAfp in Model.Resumen.UltimaSemana)
                {
                    <tr>
                        @foreach(CuotaRentabilidadDia? cuota in resumenAfp.ValoresCuota[fondo])
                        {
                            <td class="m-0 text-muted align-middle p-0">
                                <p class="mb-1 text-center">@(cuota != null ? cuota.ValorCuota.ToString("N2", cultureInfo) : "")</p>
                                <p class="m-0 text-center @(cuota?.RentabilidadDia > 0 ? "text-success": (cuota?.RentabilidadDia < 0 ? "text-danger" : ""))">
                                    <b>@(cuota?.RentabilidadDia > 0 ? "⇧" : (cuota?.RentabilidadDia < 0 ? "⇩" : ""))</b>
                                    @(cuota != null ? (cuota.RentabilidadDia != 0 ? cuota.RentabilidadDia.ToString("N5", cultureInfo) + "%" : "0,0%") : "")
                                </p>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</div>

<hr id="premioRentabilidad"/>

<h5>¡La AFP más rentable de @(Model.Premios.FechasTodas.ToString("MMMM", cultureInfo))!</h5>

<p class="mt-3 text-muted">
    ¡Y comenzó la carrera! la AFP con mejor rentabilidad durante @(Model.Premios.FechasTodas.ToString("MMMM", cultureInfo)) es:
</p>

@{
    List<int> listaPeriodo = Model.Premios.Ganadores.Keys.ToList();
    listaPeriodo.Sort();
    listaPeriodo.Reverse();
    int periodoActual = listaPeriodo[0];
}

<div class="m-0 text-muted align-middle pb-2">
    @{
        UltimaSemanaAfp afpLogo = Model.Resumen.UltimaSemana.First(c => c.Nombre.ToUpper() == Model.Premios.Ganadores[periodoActual].Afp);
    }
    <img class="rounded mx-auto d-block" 
            style="width: 12rem;@(afpLogo.Alto != null ? $"height: {(afpLogo.Alto * 0.5)?.ToString(CultureInfo.InvariantCulture)}rem;": "")" 
            src="@(afpLogo.UrlLogo)" 
            alt="AFP @(Model.Premios.Ganadores[periodoActual].Afp) "/>
    <p class="text-center m-0 fondoActual">
        Fondo @(Model.Premios.Ganadores[periodoActual].Fondo)
    </p>
    <div class="text-center">
        <p class="m-0 mr-2 rentActual">Rentabilidad:</p>
        <b class="rentActual @(Model.Premios.Ganadores[periodoActual].Rentabilidad > 0 ? "text-success": (Model.Premios.Ganadores[periodoActual].Rentabilidad < 0 ? "text-danger" : ""))">
            @(Model.Premios.Ganadores[periodoActual].Rentabilidad > 0 ? "⇧" : (Model.Premios.Ganadores[periodoActual].Rentabilidad < 0 ? "⇩" : "")) 
            @(Model.Premios.Ganadores[periodoActual].Rentabilidad?.ToString("N2", cultureInfo))%</b>
    </div>
    <div class="align-top text-center w-100 mb-0 progresoMesPremio">
        <p class="text-center m-0 mt-2">Avance del Mes</p>
        <p class="w-25 d-inline-block m-0 text-right pr-2">
            @(Model.Premios.PrimerDiaMesPremio.ToString("dddd d", cultureInfo).Substring(0, 1).ToUpper() + Model.Premios.PrimerDiaMesPremio.ToString("dddd d", cultureInfo).Substring(1))
        </p>
        <div class="d-inline-block m-0" style="width:calc(50% - 1rem)">
            <div class="progress">
                <div class="progress-bar @(Model.Premios.Ganadores[periodoActual].Rentabilidad > 0 ? "bg-success": (Model.Premios.Ganadores[periodoActual].Rentabilidad < 0 ? "bg-danger" : ""))" 
                     role="progressbar" 
                     style="width: @(Model.Premios.PorcMesPremio)%" 
                     aria-valuenow="@(Model.Premios.PorcMesPremio)" 
                     aria-valuemin="0" 
                     aria-valuemax="100">
                     @(Model.Premios.PorcMesPremio.ToString("N0", cultureInfo))%
                 </div>
            </div>
        </div>
        <p class="w-25 d-inline-block m-0 pl-2">
            @(Model.Premios.UltimoDiaMesPremio.ToString("dddd d", cultureInfo).Substring(0, 1).ToUpper() + Model.Premios.UltimoDiaMesPremio.ToString("dddd d", cultureInfo).Substring(1))
        </p>
    </div>
    <p class="text-center mb-1 periodoActual">
        @(Model.Premios.Ganadores[periodoActual].FechaHasta.ToString("MMMM yyyy", cultureInfo).Substring(0, 1).ToUpper() + Model.Premios.Ganadores[periodoActual].FechaHasta.ToString("MMMM yyyy", cultureInfo).Substring(1))
    </p>
    <p class="text-center m-0 mensajeActual">
        (Rentabilidad calculada al @(Model.Premios.FechasTodas.ToString("dddd d 'de' MMMM", cultureInfo)))
    </p>
</div>

<form method="get" asp-controller="Resumen" asp-action="Index" asp-fragment="premioRentabilidad" class="mt-3 mb-1">
    <p class="d-inline-block my-0 text-muted mr-1" style="font-size: 0.9rem; position:relative; top: 0.1rem;">Meses anteriores</p>
    <div class="input-group input-group-sm d-inline-block" style="width: 5rem;">
        <select asp-for="Premios.Anno" asp-items="@Model.Premios?.ListaAnnos" class="custom-select w-100 text-muted" id="selectPremioRentabilidad"></select>
    </div>
</form>

<div class="mb-1">
    <table class="table table-borderless text-center mt-0 w-100 grillaPremioRentabilidad">
        <tr>
            @foreach(int periodo in listaPeriodo.Skip(1))
            {
                @if (Model.Premios.Ganadores[periodo].Rentabilidad != null)
                {
                    <td class="m-0 text-muted align-middle py-2 px-3" style="width: 7rem;">
                        @{
                            afpLogo = Model.Resumen.UltimaSemana.First(c => c.Nombre.ToUpper() == Model.Premios.Ganadores[periodo].Afp);
                        }
                        <img class="rounded mx-auto d-block @(!afpLogo.SinMarginBottom ? "mb-2": "")" 
                             style="width: 7rem;@(afpLogo.Alto != null ? $"height: {(afpLogo.Alto * 0.31)?.ToString(CultureInfo.InvariantCulture)}rem;": "")" 
                             src="@(afpLogo.UrlLogo)" 
                             alt="AFP @(Model.Premios.Ganadores[periodoActual].Afp) "/>
                        <p class="text-center m-0 fondoAnterior">
                            Fondo @(Model.Premios.Ganadores[periodo].Fondo)
                        </p>
                        <p class="text-center m-0 fondoAnterior @(Model.Premios.Ganadores[periodo].Rentabilidad > 0 ? "text-success": (Model.Premios.Ganadores[periodo].Rentabilidad < 0 ? "text-danger" : ""))">
                            <b>@(Model.Premios.Ganadores[periodo].Rentabilidad > 0 ? "⇧" : (Model.Premios.Ganadores[periodo].Rentabilidad < 0 ? "⇩" : ""))</b>
                            @(Model.Premios.Ganadores[periodo].Rentabilidad?.ToString("N2", cultureInfo))%
                        </p>
                        <p class="text-center m-0 periodoAnterior">
                            @(Model.Premios.Ganadores[periodo].FechaHasta.ToString("MMMM yyyy", cultureInfo).Substring(0, 1).ToUpper() + Model.Premios.Ganadores[periodo].FechaHasta.ToString("MMMM yyyy", cultureInfo).Substring(1))
                        </p>
                    </td>
                }
            }
        </tr>
    </table>
</div>